name: Release
on:
  release:
    types: [published]
jobs:
  release:
    name: Prepare release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      # Build
      - name: Build the file
        run: |
          ls /home/runner/work/
          cd /home/runner/work/ha-toyota-na/ha-toyota-na/custom_components/toyota_na
          zip -r ha_toyota_na.zip *
      # Upload build file to the release as an asset
      - name: Upload zip to release
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: /home/runner/work/ha-toyota-na/ha-toyota-na/custom_components/toyota_na/ha_toyota_na.zip
          asset_name: ha_toyota_na.zip
          tag: ${{ github.ref }}
          overwrite: true
